<a href="https://colab.research.google.com/github/matthew110395/12004210_DataAnalytics/blob/main/12004210_DAOTW_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction
This assignment will explore the relationship between weather and the number of vehicle collisions withing New York City.

Part one of the Assignment will analyse the data to idenitfy patterns, anomolys and relationships.

#Hypothesis
As weather conditions worsen (temperature decrese, precipitation increase, windspeed increase) the number of collisions will increase.

#Methodology
##Get Data

Data for this assignment will be sourced from Google BigQuery. The two main datasets utlised will be NYPD Motor Vehicle Collisions and Global Surface Summary of the Day (GSOD) Weather Data. 

As a starting point two views will be created one containing weather data and another containing collision data.

###Create Weather Data View

```
CREATE VIEW `uhi-project-361414.assignment.weather_2012_to_2022` AS
SELECT DATE(CAST(year as INT64),CAST(mo as INT64),CAST(da as INT64)) as date, year, mo, da, temp, dewp, slp, visib, wdsp, mxpsd, gust, max, min, prcp,sndp, fog, rain_drizzle, snow_ice_pellets,hail, thunder, tornado_funnel_cloud FROM
`bigquery-public-data.noaa_gsod.gsod2012`
WHERE
  stn='725060'
UNION ALL
SELECT DATE(CAST(year as INT64),CAST(mo as INT64),CAST(da as INT64)) as date, year, mo, da, temp, dewp, slp, visib, wdsp, mxpsd, gust, max, min, prcp,sndp, fog, rain_drizzle, snow_ice_pellets,hail, thunder, tornado_funnel_cloud FROM
`bigquery-public-data.noaa_gsod.gsod2013`
WHERE
  stn='725060'
UNION ALL
SELECT DATE(CAST(year as INT64),CAST(mo as INT64),CAST(da as INT64)) as date, year, mo, da, temp, dewp, slp, visib, wdsp, mxpsd, gust, max, min, prcp,sndp, fog, rain_drizzle, snow_ice_pellets,hail, thunder, tornado_funnel_cloud FROM
`bigquery-public-data.noaa_gsod.gsod2014`
WHERE
  stn='725060' AND wban = '14756'
UNION ALL
SELECT DATE(CAST(year as INT64),CAST(mo as INT64),CAST(da as INT64)) as date, year, mo, da, temp, dewp, slp, visib, wdsp, mxpsd, gust, max, min, prcp,sndp, fog, rain_drizzle, snow_ice_pellets,hail, thunder, tornado_funnel_cloud FROM
`bigquery-public-data.noaa_gsod.gsod2015`
WHERE
  stn='725060'
UNION ALL
SELECT DATE(CAST(year as INT64),CAST(mo as INT64),CAST(da as INT64)) as date, year, mo, da, temp, dewp, slp, visib, wdsp, mxpsd, gust, max, min, prcp,sndp, fog, rain_drizzle, snow_ice_pellets,hail, thunder, tornado_funnel_cloud FROM
`bigquery-public-data.noaa_gsod.gsod2016`
WHERE
  stn='725060'
UNION ALL
SELECT DATE(CAST(year as INT64),CAST(mo as INT64),CAST(da as INT64)) as date, year, mo, da, temp, dewp, slp, visib, wdsp, mxpsd, gust, max, min, prcp,sndp, fog, rain_drizzle, snow_ice_pellets,hail, thunder, tornado_funnel_cloud FROM
`bigquery-public-data.noaa_gsod.gsod2017`
WHERE
  stn='725060'
UNION ALL
SELECT DATE(CAST(year as INT64),CAST(mo as INT64),CAST(da as INT64)) as date, year, mo, da, temp, dewp, slp, visib, wdsp, mxpsd, gust, max, min, prcp,sndp, fog, rain_drizzle, snow_ice_pellets,hail, thunder, tornado_funnel_cloud FROM
`bigquery-public-data.noaa_gsod.gsod2018`
WHERE
  stn='725060'
UNION ALL
SELECT DATE(CAST(year as INT64),CAST(mo as INT64),CAST(da as INT64)) as date, year, mo, da, temp, dewp, slp, visib, wdsp, mxpsd, gust, max, min, prcp,sndp, fog, rain_drizzle, snow_ice_pellets,hail, thunder, tornado_funnel_cloud FROM
`bigquery-public-data.noaa_gsod.gsod2019`
WHERE
  stn='725060'
UNION ALL
SELECT DATE(CAST(year as INT64),CAST(mo as INT64),CAST(da as INT64)) as date, year, mo, da, temp, dewp, slp, visib, wdsp, mxpsd, gust, max, min, prcp,sndp, fog, rain_drizzle, snow_ice_pellets,hail, thunder, tornado_funnel_cloud FROM
`bigquery-public-data.noaa_gsod.gsod2020`
WHERE
  stn='725060'
UNION ALL
SELECT DATE(CAST(year as INT64),CAST(mo as INT64),CAST(da as INT64)) as date, year, mo, da, temp, dewp, slp, visib, wdsp, mxpsd, gust, max, min, prcp,sndp, fog, rain_drizzle, snow_ice_pellets,hail, thunder, tornado_funnel_cloud FROM
`bigquery-public-data.noaa_gsod.gsod2021`
WHERE
  stn='725060'
UNION ALL
SELECT DATE(CAST(year as INT64),CAST(mo as INT64),CAST(da as INT64)) as date, year, mo, da, temp, dewp, slp, visib, wdsp, mxpsd, gust, max, min, prcp,sndp, fog, rain_drizzle, snow_ice_pellets,hail, thunder, tornado_funnel_cloud FROM
`bigquery-public-data.noaa_gsod.gsod2022`
WHERE
  stn='725060'
ORDER BY year, mo, da;
```
###Create Collision Data View

```
CREATE VIEW `uhi-project-361414.assignment.collision_data` AS
SELECT CAST(timestamp as DATE) as collision_date,FORMAT_DATE("%u", timestamp) as day, COUNT(CAST(timestamp as DATE)) AS NUM_COLLISIONS  FROM `bigquery-public-data.new_york_mv_collisions.nypd_mv_collisions` 
GROUP BY collision_date,day
```
###Create Collated Data Table
In order to easily export the data a collated table containing both the weather and collision data has been created. 
```
CREATE TABLE `uhi-project-361414.assignment.collated_collision_data` AS
SELECT day, year, mo, da, collision_date,NUM_COLLISIONS, temp, dewp, slp, visib, wdsp, mxpsd, gust,max, min, prcp, sndp, fog, rain_drizzle, snow_ice_pellets, hail, thunder, tornado_funnel_cloud	FROM `uhi-project-361414.assignment.weather_2012_to_2022` as weather, `uhi-project-361414.assignment.collision_data` as collisions
WHERE collisions.collision_date = weather.date
```
This table was then exported as a CSV and uploaded to github.

##Import the Data
In order to analyse the data, the data is imported from the CSV created above.

To ensure the data has imported correctly the head command is used to display the first 6 data rows of the file.

In [ ]:
coldata <- read.csv("https://raw.githubusercontent.com/matthew110395/12004210_DataAnalytics/main/collated_collision_data.csv?token=GHSAT0AAAAAABYMZ3KKE5QLCHH5BFEMIVHMYYWIVKA", stringsAsFactors = TRUE)
head(coldata)

  day year mo da collision_date NUM_COLLISIONS temp dewp slp    visib ⋯ max
1 5   2020 1  24 2020-01-24     524            37.3 33.7 1028.5  6.5  ⋯ 46.0
2 2   2021 1  12 2021-01-12     278            37.0 29.1 1019.0 10.0  ⋯ 44.1
3 5   2021 1  22 2021-01-22     254            36.5 28.4 1003.1 10.0  ⋯ 44.1
4 3   2021 1  27 2021-01-27     262            34.6 33.8 1012.8  8.0  ⋯ 41.0
5 2   2021 1  26 2021-01-26     263            31.9 23.4 1016.9  9.0  ⋯ 37.9
6 1   2022 1  24 2022-01-24     237            34.5 23.8 1010.6  9.7  ⋯ 39.9
  min  prcp sndp  fog rain_drizzle snow_ice_pellets hail thunder
1 19.9 0.00 999.9 1   0            0                0       0
2 21.0 0.00 999.9 0   0            0                0       0
3 19.9 0.00 999.9 0   0            0                0       0
4 28.9 0.25 999.9 1   1            0                0       0
5 21.0 0.00 999.9 1   0            0                0    1000
6 25.0 0.00 999.9 1   0            0                0    1000
  tornado_funnel_cloud
1     0
2     0
3     0
4 11000
5  1000
6  1000

#Analysis
##Summary
The below summary of the static CSV file shows key details of the data contained within each column of the dataset.

The key information to take from this summary is:
 
*   The dataset starts on 2012 and runs through to 2022.
*   The minimum number of recorded collisions on a particular day is 94
*   The maximum number of recorded collisions on a particular day is 1161

In [13]:
summary(coldata)

      day             year            mo               da
 Min.   :1.000   Min.   :2012   Min.   : 1.000   Min.   : 1.0
 1st Qu.:2.000   1st Qu.:2015   1st Qu.: 4.000   1st Qu.: 8.0
 Median :4.000   Median :2017   Median : 7.000   Median :16.0
 Mean   :3.999   Mean   :2017   Mean   : 6.526   Mean   :15.7
 3rd Qu.:6.000   3rd Qu.:2020   3rd Qu.:10.000   3rd Qu.:23.0
 Max.   :7.000   Max.   :2022   Max.   :12.000   Max.   :31.0

    collision_date NUM_COLLISIONS        temp            dewp
 2012-07-01:   1   Min.   :  94.0   Min.   : 5.80   Min.   :   -6.70
 2012-07-02:   1   1st Qu.: 392.2   1st Qu.:41.30   1st Qu.:   32.60
 2012-07-03:   1   Median : 553.0   Median :52.30   Median :   45.60
 2012-07-04:   1   Mean   : 520.5   Mean   :52.35   Mean   :   47.44
 2012-07-05:   1   3rd Qu.: 637.0   3rd Qu.:64.80   3rd Qu.:   59.10
 2012-07-06:   1   Max.   :1161.0   Max.   :86.70   Max.   : 9999.90
 (Other)   :3668
      slp            visib             wdsp          mxpsd
 Min.   :  989   Min.   : 0.200   Min.   : 0.8   Min.   :  5.10
 1st Qu.: 1012   1st Qu.: 7.200   1st Qu.: 7.4   1st Qu.: 13.00
 Median : 1017   Median : 9.400   Median : 9.8   Median : 15.90
 Mean   : 1022   Mean   : 8.337   Mean   :10.4   Mean   : 25.74
 3rd Qu.: 1022   3rd Qu.:10.000   3rd Qu.:12.9   3rd Qu.: 20.00
 Max.   :10000   Max.   :10.000   Max.   :39.3   Max.   :999.90

      gust            max              min             prcp
 Min.   : 14.0   Min.   : 18.00   Min.   :-2.00   Min.   : 0.000
 1st Qu.: 24.1   1st Qu.: 48.90   1st Qu.:33.10   1st Qu.: 0.000
 Median : 33.0   Median : 60.90   Median :44.60   Median : 0.000
 Mean   :396.9   Mean   : 60.38   Mean   :44.69   Mean   : 1.177
 3rd Qu.:999.9   3rd Qu.: 73.00   3rd Qu.:57.00   3rd Qu.: 0.060
 Max.   :999.9   Max.   :100.00   Max.   :73.00   Max.   :99.990

      sndp            fog          rain_drizzle   snow_ice_pellets
 Min.   :  3.9   Min.   :0.0000   Min.   :0.000   Min.   :0.00000
 1st Qu.:999.9   1st Qu.:0.0000   1st Qu.:0.000   1st Qu.:0.00000
 Median :999.9   Median :0.0000   Median :0.000   Median :0.00000
 Mean   :999.6   Mean   :0.3258   Mean   :0.325   Mean   :0.06424
 3rd Qu.:999.9   3rd Qu.:1.0000   3rd Qu.:1.000   3rd Qu.:0.00000
 Max.   :999.9   Max.   :1.0000   Max.   :1.000   Max.   :1.00000

      hail             thunder         tornado_funnel_cloud
 Min.   :0.000000   Min.   :   0.000   Min.   :    0.0
 1st Qu.:0.000000   1st Qu.:   0.000   1st Qu.:    0.0
 Median :0.000000   Median :   0.000   Median :    0.0
 Mean   :0.002178   Mean   :   7.094   Mean   :  649.4
 3rd Qu.:0.000000   3rd Qu.:   0.000   3rd Qu.:    0.0
 Max.   :1.000000   Max.   :1000.000   Max.   :11000.0

#Conclusion